html {
  background-color: #206028;
  color: #fff;
}

body {
  margin: 0;
}

body > .modalStack {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  pointer-events: none;
}

body > .toastContainer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  pointer-events: none;
}

.modalStack > .modalBlotter {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.50;
  pointer-events: initial;
}

.modalStack > .modalAligner {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.modalAligner > .modal {
  min-width: 100px;
  min-height: 100px;
  background-color: #fff;
  color: #000;
  border-radius: 0.5em;
  box-shadow: #000 0 0 1em;
  pointer-events: initial;
}

.toastContainer > .toast {
  margin: 1em;
  padding: 0.5em;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  box-shadow: #000 0 0 1em;
  pointer-events: initial;
  cursor: pointer;
  transition: opacity 1s;
}

.toastContainer > .toast.error {
  border: 2px solid #800;
}

.transparent {
  opacity: 0;
}

/* Root.
 *************************************************/

.RootController {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.RootController .main {
  flex: 1;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}

.FooterController {
}

@media(max-width:599.9px) {
  .RootController .main {
    flex-direction: column;
  }
  .ChatController {
    max-height: 30vh;
  }
}
@media(min-width:600px) {
  .RootController .main {
    flex-direction: row;
  }
  .ChatController {
    max-height: 85vh; /* TODO Can we tell it not to grow vertically, without knowing the initial height? */
  }
}

/* Header.
 **************************************************/

.HeaderController {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding: 0.5em;
}

.HeaderController > button {
  border: 3px solid #ccc;
  border-radius: 0.5em;
  background-color: #206028;
  color: #fff;
  min-width: 10em;
  min-height: 6em;
  font-family: serif;
  font-weight: bold;
  cursor: pointer;
  margin: 0 0.5em;
}

.HeaderController > button:hover {
  border-color: #ff0;
}

.HeaderController > button:active {
  background-color: #308030;
}

.HeaderController > .spacer {
  flex: 1;
}

.ConnectionController {
  border: 3px solid #ccc;
  border-radius: 0.5em;
  background-color: #206028;
  color: #fff;
  font-family: serif;
  font-weight: bold;
  cursor: pointer;
  margin: 0 0.5em;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  text-align: center;
}

.ConnectionController .stateTattle {
}

.ConnectionController .stateTattle.connected {
}

.ConnectionController .stateTattle.disconnected {
}

.ConnectionController .playerTattle {
}

.ConnectionController .lobbyTattle {
  flex: 1;
}

.ConnectionController .actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.PartyController {
  border: 3px solid #ccc;
  border-radius: 0.5em;
  background-color: #206028;
  color: #fff;
  font-family: serif;
  font-size: 10pt;
  cursor: pointer;
  margin: 0 0.5em;
  padding: 0.5em 1em;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  text-align: left;
}

/* Field.
 ******************************************************/

.FieldController {
  flex: 1;
  min-width: 350px;
  position: relative;
}

.FieldController .card {
  position: absolute;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  cursor: pointer;
}

.FieldController .card.facedown {
  background-color: #f00;
}

.FieldController .card.turn {
  /*transform: rotate(90deg);*/
}

/* Chat.
 **************************************************/
 
.ChatController {
  flex: 1;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.ChatController > .log {
  width: 100%;
  flex: 1;
  overflow-y: scroll;
}

.ChatController > .log > .message {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: top;
  margin-bottom: 0.5em;
}

.ChatController > .log > .message > .speaker {
  background-color: #ff0;/*TODO different per user */
  color: #000;
  border-radius: 0.5em;
  font-weight: bold;
  font-family: sans-serif;
  height: 1.5em;
  margin: 0.25em 0.5em;
  margin-top: 0;
  padding: 0 0.25em;
  font-size: 0.6em;
}

.ChatController > .log > .message > .content {
  flex: 1;
}

.ChatController > .controls {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.ChatController > .controls > .text {
  flex: 1;
}

/* Modals.
 *******************************************************/
 
.GeneralInputModal {
  padding: 1em;
}

.GeneralInputModal > form > * {
  margin: 0.25em 0;
}

.GeneralInputModal .actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
 
.NewGameModal {
  padding: 1em;
}

.NewGameModal radiogroup {
}

.NewGameModal input[type="radio"] {
  display: none;
}

.NewGameModal radiogroup > label:first-of-type {
  margin-left: 0;
}

.NewGameModal radiogroup > label {
  border-top: 2px solid #ccc;
  border-left: 2px solid #ccc;
  border-bottom: 2px solid #444;
  border-right: 2px solid #444;
  padding: 0.25em 0.5em;
  margin: 0 0.25em;
  font-family: sans-serif;
  font-size: 10pt;
  background-color: #ccc;
}

.NewGameModal radiogroup > input:checked + label {
  border-top: 2px solid #444;
  border-left: 2px solid #444;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  background-color: #ffc;
}

.NewGameModal .actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
 
.JoinGameModal {
  padding: 1em;
}

.JoinGameModal .actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
